.hidden {
  display: none;
}

/* Video play back */
.video-container {
  font-size: 12px;
  position: relative;
  width: 480px;
}

.video-content {
  width: 100%;
  position: relative;
}

.caption {
  position: absolute;
  bottom: 13%;
  color: #FFCC00;
  font-size: 16px;
  background-color: #000000;
}

/* Video Control Bar */
.video-control-bar {
  width: 100%;
  margin-top: -6px;
  position: relative;
}

.video-control-bar:hover{ 
  cursor: pointer;
}

.video-control-bar .seek-bar {
  width: 100%;
  height: 5px;
  background-color: #444444;
  position: relative;
}

.video-container .cursor {
  width: 3px;
  height: 9px;
  background-color: #72BF3F;
  position: absolute;
  left: 0px;
  top: -2px;
}

.progress-bar {
  width: 0px;
  height: 100%;
  background-color: #858585;
  position: absolute;
}

.button-group {
  height: 15px;
  background-color: #1B1B1B;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.play-button {
  float: left;
  margin-right: 3px;
}

.volume-indicator {
  float: right;
  position: relative;
}

.volume-bar {
  width: 50px;
  height: 6px;
  float: right;
  background-color: #989898;
  margin-left: 5px;
  margin-top: 3px;
  /*position: absolute;*/
  /*top: -60px;*/
}

.volume-bar-inner {
  width: 30%;
  height: 100%;
  background-color: #F50525;
  position: relative;
}

.full-screen {
  float: right;
  margin-left: 10px;
}

.fa-camera {
  float: right;
  margin-left: 10px;
}

.adbreak {
  border-radius: 5px;
  width: 5px;
  height: 5px;
  background-color: white;
  position: absolute;
  float: left;
}

.fa {
  color: white;
}

.time-indicator {
  float: left;
  margin-left: 2px;
  font-size: 10px;
  line-height: 14px;
}

.time-total {
  color: #848484;
}
.time-spent {
  color: white;
}
.time-slash {
  color: #848484;
}

/* Edit Bar */
.edit-bar {
  margin-top: 2%;
  height: 15px;
  width: 86%;
  background-color: #555555;
  position: relative;
  float: left;
}

.edit-bar-inner {
  background-color: #868686;
  height: 100%;
  position: absolute;
}

.preview-button {
  margin-top: 2%;
  float: right;
}

.edit-cursor-left:hover, 
.edit-cursor-right:hover { 
  cursor: pointer;
}

.edit-cursor-left,
.edit-cursor-right {
  width: 5px;
  height: 130%;
  position: absolute;
  left: 0px;
  top: -15%;
}

.edit-cursor-left {
  background-color: black;
  left: 0%;
}

.edit-cursor-right {
  background-color: black;
  left: 99%;
}

.cursor-time {
	font-size: 10px;
	color: #FFF;
	position: absolute;
	top: -20px;
	left: -5px;
}

.edit-cursor-time {
  font-size: 10px;
  position: absolute;
  top: 10px;
  left: -6px;
}

/* Adbreak handler and Thumbnails and Caption Handlers */
.adbreak-and-thumbnail {
	clear: both;
}

.adbreak-handler-container {
  margin-top: 3%;
  float: left;
}

.thumbnail-canvas {
  margin-top: 3%;
  background-color: #333333;
  float: right;
  color: white;
}

.main-content {
  float: left;
}

.caption-handler-container {
  margin-left: 2%;
  float: left;
}

